# This workflow will run tests using node and then publish a package to NPM when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: run-tests

on:
  pull_request:
    branches: [support/0.x]

concurrency:
  group: build-test-publish

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@support/0.x
      - name: Set Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Install Dependencies
        run: yarn install
      - name: Run tests
        run: yarn test
      - name: Run build test
        run: yarn run build-test
